
ServerTokens Prod
ServerSignature Off

Header set X-Content-Type-Options: "nosniff"
Header set X-Frame-Options: "sameorigin"
#Header set X-Frame-Options: "deny"
Header set Strict-Transport-Security "max-age=16070400; includeSubDomains"
#Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
Header set X-XSS-Protection "1; mode=block"
Header set Content-Security-Policy "default-src self"

## HTTPoxy vuln mitigation - 201607
RequestHeader unset Proxy early

