
## Deny potentially sensitive files
<FilesMatch "^\.ht">
     Order allow,deny
     Deny from all
     Satisfy all
</FilesMatch>
<FilesMatch "^\.">
     Order allow,deny
     Deny from all
     Satisfy all
</FilesMatch>
<FilesMatch "\.(inc|old|svn|git|pub|sec|gpg)$">
     Order allow,deny
     Deny from all
     Satisfy all
</FilesMatch>
<FilesMatch "/(?:upload|files|pub)/.*\.php$">
     Order allow,deny
     Deny from all
     Satisfy all
</FilesMatch>

